/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */

.flex {
  display: flex;
}

.section {
  height: 500px;
}

.b-white {
  background-color: white;
}

.b-grey {
  background-color: lightgrey;
}

.b-lightcoral {
  background-color: #f08080;
}
/* /COMMON */

/* HEADER */

/* NAV */
nav {
  height: 80px;
  background-color: #add8e6;
  align-items: center;
  justify-content: center;
}

.nav-container {
  background-color: #daa520;
  border: 1px dashed black;
  width: 70%;
  align-items: baseline;
}

.logo {
  padding-left: 0.5rem;
  width: 25%;
  border-right: 1px dashed black;
  font-size: 0.8rem;
}

.link {
  width: 50%;
  text-align: center;
  border-right: 1px dashed black;
}

a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.login {
  padding-right: 0.5rem;
  width: 25%;
  font-size: 0.8rem;
  text-align: end;
}

/* NAV */

/* /HEADER */

/* HERO  */
.hero-section {
  background-color: blue;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.hero-container {
  margin: 0 auto;
  width: 50%;
}

.hero {
  min-height: 250px;
  background-color: #ee82ee;
  border: 1px dashed black;
}

/* /HERO  */

/* MAIN */

/* SECTION */

.section {
  justify-content: center;
  align-items: center;
}

.content {
  width: 70%;
  min-height: 400px;
}

.l-blue {
  background-color: #1e90ff;
}

.pink {
  background-color: pink;
}

.col-big {
  width: 60%;
  border: 1px dashed black;
}

.col-small {
  width: 40%;
  border: 1px dashed black;
}

/* /SECTION */

/* INFO SECTION */

.info {
  height: 700px;
  justify-content: center;
  align-items: center;
}

.info-container {
  background-color: #228b22;
  min-height: 600px;
  width: 70%;
  border: 1px dashed black;
}

/* INFO SECTION */

/* /MAIN */

/* FOOTER */
footer {
  height: 600px;
  background-color: #23272a;
  padding-top: 1rem;
}

.grid {
  margin: 0 auto;
  width: 70%;
  height: 300px;
  background-color: aquamarine;
  border: 1px dashed black;
  margin-bottom: 2rem;
}

.col {
  border: 1px dashed white;
  width: calc(100% / 6);
}

.grow {
  flex-grow: 1;
  border: 1px dashed black;
}

/* /FOOTER */
